<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<div class="as" style="background-color: #3b434c;color:white">
<section class="footers  pt-3 pb-3">
   <div class="container pt-3">
       <div class="row">
           <div class="col-xs-5 col-sm-3 col-md-3 footers-one">
    		    <div class="footers-logo">
    		        <img src="http://velikorodnov.com/html/autotrader/images/logo.png" alt="Logo" style="width:120px;">
    		    </div>
    		    <div class="footers-info mt-3">
    		        <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the best.</p>
    		    </div>
    		    <div class="social-icons"> 
                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                </div>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
    		    <h5>Essentials </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Search</a></li>
    	
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
    		    <h5>Information </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Register Now</a></li>
  
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
    		    <h5>Explore </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">News</a></li>
    	
    			</ul>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
    		    <h5>Company </h5>
    		    <ul class="list-unstyled">
    			 <li><a href="maintenance.html">Career</a></li>
    			</ul>
    		</div>
    		
       </div>
   </div>
</section>


</div>