<app-header></app-header>
<div><button class="btn btn-xs btn-success" style="margin-top:100px">
        <span><a (click)="create_user()">Thêm mới</a></span>
    </button></div>
<div class="page-content">
<div class="container">
<div  class="table" style="margin-top:100px;    height: 100%;
width: 100%">
    <table class="table table-bordered table-post-listing" cellspacing="0" width="100%">

        <thead>

            <tr>
                <th class="nowrap" style="min-width: 150px;">STT</th>
                <th class="nowrap">Họ và tên
                </th>
                <th class="nowrap">Vai trò</th>
                <th class="nowrap" style="min-width: 100px;">Phòng ban</th>
                <th class="nowrap">Email</th>
                <th class="nowrap">Điện thoại</th>
                <th class="nowrap">Quyền hiển thị phòng ban</th>
                <th class="nowrap">Quyền hiển thị cơ quan</th>
                <th class="nowrap">Hoạt động</th>
            </tr>
        </thead>
        <tbody>
            <tr class="js-item-row js-item-row-399113 out_of_service  approved js-post-item js-post-item-399113 even"
                data-post-id="399113">
                <td style="color:blue; font-size: 16px;"><a></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault"></label>
                  </div></td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault"></label>
                    </div>
                </td>
                <td>
                    <button class="btn btn-xs btn-danger">
                        <span>Xóa</span>
                    </button>
                    <div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<app-footer></app-footer>