
<app-header></app-header>
<div class="page-content">
    <div class="container">
        <div class="table" style="margin-top:100px;    height: 100%;
width: 100%">
            <table class="table table-bordered table-post-listing" cellspacing="0" width="100%">

                <thead>

                    <tr>
                        <th class="nowrap" >STT</th>
                        <th class="nowrap">Ngày tạo</th>
                        <th class="nowrap">Người tạo</th>
                        <th class="nowrap" style="min-width: 250px;">Nội dung</th>
                        <th class="nowrap" style="min-width: 120px;">Phòng ban</th>
                        <th class="nowrap" style="max-width: 120px;">Hiển thị phòng ban</th>
                        <th class="nowrap" style="max-width: 120px;">Hiển thị cơ quan</th>
                        <th class="nowrap">Hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="js-item-row js-item-row-399113 out_of_service  approved js-post-item js-post-item-399113 even"
                        data-post-id="399113"  *ngFor="let s of lstSchedule">
                        <td>{{s.id}}</td>
                        <td>{{s.createdDateTime|date:"MM/dd/yyyy"}}</td>
                        <td>{{s.createdBy}}</td>
                        <td>{{s.scheduleDesc}}</td>
                        <td>{{s.departName}}</td>
                        <td><div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" *ngIf="s.isVisible == 1" checked/>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" *ngIf="s.isVisible != 1" />
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div></td>
                        <td><div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" *ngIf="s.isVisible == 2" checked/>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" *ngIf="s.isVisible != 2" />
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div></td>
                        <td>
                            
                            <button class="btn btn-xs btn-danger">
                                <span (click)="disable(s.id)">Xóa</span>
                            </button>
                           
                            <div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" ng-show="isAddNew==true">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" name="form">							
                    <div class="col-md-12 text-center bold h4 text-info uppercase">Thêm mới lịch làm việc</div>
                   		
                    <div class="form-group" >
                        <label class="label-warning">Thời gian</label> 
                        <input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="datetime" id="datetime" ng-model="schedule.datetime" datetime-picker="" date-format="yyyy-MM-dd HH:mm" close-on-select="false" required="">
                    </div>

                    <div class="form-group" >
                        <label class="label-warning">Nội dung</label>
                        <textarea class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" id="scheduleDesc" name="scheduleDesc" [(ngModel)]="schedule.scheduleDesc" rows="5" required=""></textarea>
                      
                    </div>
                    <div class="form-actions">
                        
                        <!-- ngIf: isAddNew==true --><button type="submit" routerLink="/schedule-manager-user" routerLinkActive class="btn btn-primary ng-scope" (click)="onSubmit()" >Thêm mới</button><!-- end ngIf: isAddNew==true -->

                        <a href="" class="btn btn-link" ng-click="cancelAddNewClick()">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <app-footer></app-footer>

