<app-header></app-header>


<div class="page-content">
    <div class="container">
        <div class="table" style="margin-top:100px;    height: 100%;
width: 100%">
            <table class="table table-bordered table-post-listing" cellspacing="0" width="100%">

                <thead>

                    <tr>
                        <th class="nowrap" >STT</th>
                        <th class="nowrap"style="min-width: 150px;">Tên phòng ban</th>
                        <th class="nowrap"style="min-width: 100px;">Hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="js-item-row js-item-row-399113 out_of_service  approved js-post-item js-post-item-399113 even"
                        data-post-id="399113" *ngFor="let s of lstDepartment">
                        <td>{{s.id}}</td>
                        <td>{{s.departmentName}}</td>
                        <td>
                            <button class="btn btn-xs btn-success">
                                <span>Sửa</span>
                            </button>
                            <button class="btn btn-xs btn-danger">
                                <span>Xóa</span>
                            </button>

                            <div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group" style="margin-top:100px">
            <label class="bmd-label-floating"><a style="font-size: 32;font-weight: bold;margin-top:100px">Thêm mới phòng
                    ban</a></label>
            <input type="department" id="department" class="form-control form-control-lg" name="department"
                placeholder="Enter department" required [(ngModel)]="department.departmentName" />
        </div>
        <button type="submit" class="btn btn-primary ng-scope">Thêm mới</button>
    </div>
</div>
<app-footer></app-footer>